main{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
div{
    margin-top: 50px;
}
div label{
    padding: 10px;
}

.UserContainer{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    /* background-color: grey;
    height: 90vh; */
}

#todoText, #submitBtn, #logOutFromUserBtn{
    margin-top: 30px;
}
